$font-family: "lato", sans-serif;

$blue: #4082c9;
$black: #0f0f0f;

* {
  padding: 0;
  margin: 0;
  // box-sizing: border-box;
}

body,
html {
  font-family: $font-family;
  background: $blue;
}

.noise {
  z-index: -5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.02;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 5vh;
  align-items: center;
  margin: auto;
}

.big-title {
  font-size: 4rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  li {
    padding: 1rem;
    a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 500;
      color: $black;
    }
  }
  h1 {
    flex: 1;
  }
}

.section1 {
  position: absolute;
  top: 15%;
  left: 15%;
  height: 100vh;
  h3 {
    font-size: 6rem;
    font-weight: 300;
  }
  .underline {
    width: 15.8rem;
    background: $black;
    height: 5px;
  }
}

.intro-img {
  position: absolute;
  top: 20%;
  right: 15%;
  img {
    height: 1000px;
    width: 600px;
    object-fit: cover;
    border: 0.5rem solid $black;
  }
}

.booking-list {
  position: absolute;
  top: 50%;
  left: 15%;
  display: flex;
  justify-content: space-around;
  .intro-btn {
    margin: 1rem;
    width: 250px;
    height: 48px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border: 0.3rem solid $black;
  }
  perf-btn {
    position: absolute;
    top: 30%;
  }
}

.section2 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  top: 100%;
  left: 50%;
  height: 80vh;
  width: 95vw;
  transform: translate(-50%, 0%);
  z-index: -1;
  border: solid 0.5rem $black;
}
